/* general
========= */
html,body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.purple {
  color: #6600A1;
}


.header h1 {
  font-size: 4em;
  letter-spacing: 1.4px;
}

.header p {
  font-size: 1.2em;
}

.header img {
  float: right;
}

.header .container {
  padding-right: 0;
  padding-left: 0;
}


/* arrows
============ */
.arrows {
  display: inline;
  padding:0px;
}
.arrows .standard-arrow {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 20%;
    margin: 5px 1px 0 0;
    text-indent: 35px;
    position: relative;
    color: #fff;
}

.arrows #last-arrow {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 18.2%;
    margin: 5px 1px 0 0;
    text-indent: 35px;
    position: relative;
    color: #fff;
}

.arrows-container .container{
  padding:0px;
}

.arrows li:before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    left: -2px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #fff;
    z-index: 0;
}

.arrows li:first-child:before {
    border-color: transparent;
}

.arrows li p:after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    right: -15px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #9999CC;
    z-index: 10;
}


.arrows li.active p {
    background-color: #6600A1;
    z-index: 100;
}

.arrows li.active p:after {
    border-left-color: transparent;
}

.arrows li p {
    display: block;
    background: #9999CC;
}


/*  the products for selling
========= */

.content-container {
  background-color: #6600A1;
  margin-bottom: 10px;
  color: #fff;
}

.header-container h2 {
  color: #fff;
  vertical-align: center;
}
.box {
  border: 1px solid black;
  margin-bottom: 4px;
}

.product-title {
  border-bottom: 1px solid #000;
}

.product-list {
  list-style-type: none;
  font-size: 18px;
  display: inline;
}


.price-content {
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
}

.price-content p {
  font-size: 18px;
}

.checkout-content {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #2A7700;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.checkout-content:hover {
  cursor: pointer;
}

.fa-arrow-down:hover {
  cursor: pointer;
}
/* buttons for switching pages
========= */
.next-button {
  float: right;
  position: relative;
  right: -15px;
}

.next{
  background-color: #6600A1;
  color: #fff;
  margin-left: 20px;
  padding: 8px;
}

.prev {
  background-color: #D4D4D4;
  color: #fff;
  margin-right: 20px;
  padding: 8px;
}

.arrow:hover {
  cursor: pointer;
}


.prev-button {
  display: none;
  position: relative;
  left: -15px;
}

.buttons {
  margin-bottom: 10px;
}


/* images
======= */
.img-container .col-md-3 {
  padding: 0;
}

.img-container .col-md-4 {
  padding: 0;
}
.slide.img-responsive {
  width: 100%;
}

.page-1.container {
  padding: 0;
}
